header{
  background: rgba(45, 49, 55, 0.98);
  z-index: 100;
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
}

.flex{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: stretch;
}

.nav-flex-container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.flex-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav-images{
  width: 10%;
  height: auto;
  margin: 1.1em;
}

.clearfix:after{
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.service-info{
  left: 4em;
  position: absolute;
  top: 10em;
  z-index: 2;
}

.bg-pic-container{
  top: 1em;
  margin-top: -3.5em;
}

footer{
  display: flex;
  box-sizing: border-box;
  height: 1em;
  padding: 2.5em;
  background-color: rgba(45, 49, 55, 0.98);
}

.icon-nav-box{
  margin-top: 2em;
}

.vertical-align{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
 }

/*single repsonsibility*/
.inline{
  display: inline;
}

.medium-pic{
  width: 20%;
  height: 20em;
}

.full-view{
  width: 100%;
}

.center-box{
  margin-left: auto;
  margin-right: auto;
}

.center-grid{
  text-align: center;
}

.title-img{
  top: 0;
  z-index: -1;
  position: relative;
}

/*Grid System*/
@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .span_1_of_3 {
    width: 100%;
  }
}

.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.13%;
}

.span_1_of_3 {
  width: 32.26%;
}
/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}

.span_3_of_4 {
  width: 74.6%;
}

.span_2_of_4 {
  width: 49.2%;
}

.span_1_of_4 {
  width: 23.8%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_4_of_4 {
    width: 100%;
  }
  .span_3_of_4 {
    width: 100%;
  }
  .span_2_of_4 {
    width: 100%;
  }
  .span_1_of_4 {
    width: 100%;
  }
}
/*  GRID OF SIX   ============================================================================= */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;
}

.span_1_of_6 {
    width: 15.33%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 350px) {
  .span_6_of_6 {
    width: 100%;
  }
  .span_5_of_6 {
    width: 100%;
  }
  .span_4_of_6 {
    width: 100%;
  }
  .span_3_of_6 {
    width: 100%;
  }
  .span_2_of_6 {
    width: 100%;
  }
  .span_1_of_6 {
    width: 100%;
  }
}

