.company-logo{
  font-size: 3.2em;
  padding: .2em;
}

.navList{
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: .3em;
}

.navList li{
  border-right: 1px solid white;
  padding-right: .4em;
}

.navList li:last-child{
  border: none;
}

button {
  background-color: #FF5049;
  width: 40%;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 5px 0 #A94743;
  cursor: pointer;
  margin: 0;
  margin-top: 2em;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s;
}

.marginT-B{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}
/*single responsibility*/
.selling-title{
  font-size: 2em;
  color: #7E7777;
}

.info-title{
  text-align: left;
  font-size: 3.5em;
  line-height: 1.2em;
}

.white-text{
  color: white;
}

.iconList{
  margin-top: -3em;
}

.wrapper{
  padding-top: 3em;
  background-color: white;
}

.copyrights{
  font-size: 1.2em;
}

.social-nav{
  text-align: center;
  padding: .3em;
  margin: 2em;
  display: inline-block;
}

/*ICOMOON*/
@font-face {
  font-family: 'icomoon';
  src:url('../icomoon/fonts/icomoon.eot?-el83e9');
  src:url('../icomoon/fonts/icomoon.eot?#iefix-el83e9') format('embedded-opentype'),
  url('../icomoon/fonts/icomoon.woff?-el83e9') format('woff'),
  url('../icomoon/fonts/icomoon.ttf?-el83e9') format('truetype'),
  url('../icomoon/fonts/icomoon.svg?-el83e9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-mail:before {
  content: "\ea83";
  font-size: 1.3em;
  margin: .23em;
}

.icon-google:before {
  content: "\ea87";
  font-size: 1.3em;
  margin: .23em;
}

.icon-facebook:before {
  content: "\ea8c";
  font-size: 1.3em;
  margin: .23em;
}

.icon-instagram:before {
  content: "\ea90";
  font-size: 1.3em;
  margin: .23em;
}

.icon-pinterest:before {
  content: "\ead0";
  font-size: 1.3em;
  margin: .23em;
}

.hide-mobile{
  display: none;
}
