.company-logo{
  font-size: 3.2em;
  padding: .2em;
  margin-left: .5em;
}

.title-button{
  margin-top: 2em;
  background-color: #FF5049;
  border: none;
  width: 40%;
  font-size: 1.3em;
  padding: 1em;
}

.navList{
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-right: 1.4em;
}

.marginT-B{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}
/*single responsability*/
.grey-text{
  color: #7E7777;
}

.info-title{
  text-align: left;
  font-size: 3.5em;
  line-height: 1.2em;
}

.white-text{
  color: white;
}

.iconList{
  margin-top: -3em;
}

h2{
  position: absolute;
  font-size: 2.5em;
  left: 0; right: 0;
  margin-top: .5em;
  margin-bottom: 2em;
}

.wrapper{
  padding-top: 3em;
  background-color: white;
}

.copyrights{
  font-size: 1.2em;
}
