.company-logo{
  font-family: 'Dancing Script';
  font-size: 3.2em;
  padding: .3em;
  margin-left: .5em;
}

.navList{
  margin-top: 2.2em;
  margin-right: 1em;
}

.gallery{
  margin-top: 10em;

}

.gallery{
  background-color: white;
}

.title-button{
  margin-top: 2em;
  background-color: #FF5049;
  border: none;
  width: 25%;
  font-size: 1em;
  padding: 1em;
}
/*single responsability*/
.grey-text{
  color: grey;
}

.black-text{
  color: black;
}

<<<<<<< HEAD
.info-title{
  font-size: 3.5em;
  line-height: 1.2em;
}

.white-text{
  color: white;
}
=======

>>>>>>> cc1ca1ed45e6a6475be903fc9ce427b4315adba1
