/*DESKTOP*//*DESKTOP*//*DESKTOP*//*DESKTOP*/
@media (max-width: 900px){
}


/*TABLET*//*TABLET*//*TABLET*//*TABLET*/
@media (max-width: 1100px){
  .info-title{
    font-size: 1.5em;
  }

  .title-button{
    font-size: 1em;
    width: 100%;
  }

  .bg-pic-container{
    margin-top: 4em;
  }

  .nav-images {
    width: 9vw;
  }

  .medium-pic{
    height: 12em;
    width: 20vw;
  }

  footer{
    height: 1.3em;
  }

  .marginT-B{
    margin: 2em;
  }

  .center-grid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .flex{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
  }
}


/*MOBILE*//*MOBILE*//*MOBILE*//*MOBILE*/
@media (max-width: 600px){
  header{
    height: 5em;
    padding-bottom: .5em;
  }

  .service-info{
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 9.5em;
  }

  .bg-pic-container{
    margin-top: 5em;
  }

  .company-logo{
    margin: auto;
    font-size: 2.1em;
  }

  .navList{
    margin: 0;
    font-size: 1.3em;
  }

  .info-title{
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1em;
  }

  .title-button{
    margin-top: 2em;
    width: 100%;
    padding: 1.5em;
  }

  .nav-images {
    margin-top: 1.9em;
    height: 2em;
    width: 5vw;
  }

  h2{
    font-size: 1.5em;
    padding-bottom: .5em;
  }

  .medium-pic{
    margin-top: .2em;
    width: 20vw;
    height: 7em;
  }

  footer{
    height: 1.3em;
  }

  .center-grid{
    margin-top: -.4em;
  }

  .flex{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
}

/*/*iphone 4*/
@media (max-width: 350px){
  .nav-images {
    margin-top: 2.2em;
    height: 2em;
    width: 5%;
  }

  .bg-pic-container{
    margin-top: 5.6em;
  }

  .service-info{
    margin-top: 11em;
  }

  .navList{
    font-size: 1em;
  }

  .title-button{
    margin-top: 1.4em;
  }

  .flex{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .info-title{
    margin-top: -.7em;
  }

  .medium-pic{
    height: 4%;
  }
}

