/*DESKTOP*//*DESKTOP*//*DESKTOP*//*DESKTOP*/
@media (max-width: 900px){
}


/*TABLET*//*TABLET*//*TABLET*//*TABLET*/
@media (max-width: 1100px){
  .info-title{
    font-size: 1.5em;
  }

  .title-button{
    font-size: 1em;
    width: 70%;
  }

  .bg-pic-container{
    margin-top: 4em;
  }
}


/*MOBILE*//*MOBILE*//*MOBILE*//*MOBILE*/
@media (max-width: 600px){
}

