/*TABLET*//*TABLET*//*TABLET*//*TABLET*/
@media (max-width: 1100px){
  .info-title{
    font-size: 1.5em;
  }

  .title-button{
    font-size: 1em;
    width: 100%;
  }

  .bg-pic-container{
    margin-top: 4em;
  }

  .nav-images{
    margin-top: 4em;
  }

  .medium-pic{
    height: 12em;
    width: 20%;
  }

  footer{
    height: 1.3em;
  }

  .marginT-B{
    margin: 2em;
  }

  .center-grid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-container{
    margin-top: -2em;
  }

  .flex{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .icon-list{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
/*MOBILE*//*MOBILE*//*MOBILE*//*MOBILE*/
@media (max-width: 600px){
  header{
    /*height: 5em;*/
    padding-bottom: .5em;
  }

  .service-info{
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 9.5em;
  }

  .bg-pic-container{
    margin-top: 8em;
  }

  .company-logo{
    margin: auto;
    font-size: 2.1em;
  }

  .navList{
    margin-top: 2em;
    padding-bottom: 1em;
    font-size: 1.3em;
  }

  .info-title{
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.2em;
  }

  .title-button{
    margin-top: 3em;
    width: 100%;
    padding: 1.5em;
  }


  .medium-pic{
    margin-top: .2em;
    width: 40%;
  }

  footer{
    height: 1.3em;
  }

  .center-grid{
    margin-top: 2.5em;
  }

  .flex{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .flex-container{
    margin-top: 0em;
  }

  .icon-list{
    margin-top: 4.5em;
    width: 100%;
  }

  .icon-img{
    width: 10vw;
  }

  .nav-images{
    display: block;
    width: 100%;
    margin-top: 6em;
  }

  .icon-img{
    margin-top: 2em;
    width: 30%;
  }
}
/*/*iphone 4*/
@media (max-width: 350px){

  .nav-images{
    margin-top: 8em;

  }

  .bg-pic-container{
    margin-top: 5em;
  }

  .service-info{
    margin-top: 11em;
  }

  .navList{
    font-size: 1em;
  }

  .title-button{
    margin-top: 1.2em;
  }

  .flex{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .info-title{
    margin-top: -.7em;
  }

  .medium-pic{
    height: 4%;
  }

  .flex-container{
    margin-top: 0em;
  }

  .social-nav{
    width: 100%;
  }

  .icon-list{
    margin-top: 4.5em;
    width: 100%;
  }

  .icon-img{
    margin-left: .6em;
    width: 10vw;
  }
}
